

*{
    font-family: 'Lato', sans-serif;
}


/* flexbox */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.wrapper{
    display:flex;
    flex:1;
}

nav {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:left;
    flex: 1;
}

nav ul {
    flex-direction: column;
    justify-content: space-around;
  
}
.searchbar,
main section {
 display: flex;
}


.searchbar {
    /* order:2; */
    flex-grow:1;
}

main section  {
    text-align: left;
    /* margin:auto; */
    padding: 0 32px 0 32px;
    flex-direction: column;
}

.rating,
.contact{
    display: flex;
    flex-direction: column;
    flex:1;
}

.rating{
  
}



.searchbar label{
    padding: 0 4px 0 0;
}
 


.secondcol{
    flex:2 50%;
    display:flex;
    flex-direction: column;
    min-height:100vh;
}

.row{
    display:flex;
    flex:1; 
    max-width:1024px;
    
}

.secondrow {
    display:flex;

}

.thirdrow{
display:flex;
}

.firstarticle {
    flex-wrap:wrap;
}


footer{
    display:flex;

}
main {
    flex:3;  
}

.firstrow {
display:flex;
}


.col-main {
flex:1;
}


footer {
    flex:1;
    align-content: flex-end;
}





/* Basestyle */

.tobeimplementedlater{
    color:red;

}
.h1-welcome{
    font-size:32px;
    margin: 16px 0 8px 0; 

}

/*homepgae articles*/

.p-explanation {
    font-size: 16px;
    margin: 8px 0 8px 0; 
}

.p-whattoexpect {
    font-size: 12px;
    color: #6B6B6B;
    text-transform:uppercase;
}

.links-whattoexpect {
    list-style: none;
    padding: 0;
}

h1{
    font-size:16px;
}


button {
    max-width: 128px;
}


.seperation {
    border-bottom: 2px solid gray;
}

nav {
    /* position:fixed; */
    background: #ddd;
    padding:10px;
    width:150px;
    min-height:100%;
    
}

 nav ul {
    list-style:none;
    padding-left:0;
}

/*list*/

nav ul li{
    margin:4px;
}




.primarypagesnav{
    font-weight:bold;
}

.searchbar { 
    margin: 12px 0 0 0;
    padding: 0 32px 0 32px; 
    max-height:20px;

}


.main{
    padding: 0 0 200px 0;
}

footer {
    padding: 0 32px 0 32px;
}

.rating{
    margin: 0 10px 0 10px;
}

.checked {
    color: orange;
}

.contact{
    margin: 0 10px 0 10px;
}

